# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

DATABASE_HOST=db

DATABASE_PORT=5432

DATABASE_USER=user

DATABASE_PASSWORD=user

DATABASE_NAME=api

PORT=4000

JWT_PASSPHRASE=

JWT_PRIVATE=

JWT_PUBLIC=
